<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDisplayName</key>
    <string>CameraObscura</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleName</key>
    <string>$(PRODUCT_NAME)</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>UILaunchScreen</key>
    <dict/>
    <key>UISupportedInterfaceOrientations</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
    </array>
    <key>UIRequiredDeviceCapabilities</key>
    <array>
        <string>armv7</string>
    </array>
    <key>NSCameraUsageDescription</key>
    <string>CameraObscura braucht die Kamera, um Fisheye-Fotos und -Videos aufzunehmen.</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>CameraObscura braucht das Mikrofon, um Videos mit Ton aufzunehmen.</string>
    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>CameraObscura speichert deine bearbeiteten Fotos und Videos in deiner Fotos-App.</string>
    <key>LSApplicationQueriesSchemes</key>
    <array>
        <string>instagram</string>
    </array>
</dict>
</plist>
